<form action="">
    <div class="d-flex gap-2">
        <input type="text" class="form-control form-control-sm" placeholder="Search by name or serial number"
            [(ngModel)]="filter.searchTerm" name="searchTerm">
        <select class="form-control" [(ngModel)]="filter.categoryId" name="catId">
            <option value="null" [selected]="true">Select Category</option>
            <option value="{{cat.id}}" *ngFor="let cat of categories$|async">{{cat.name}}</option>
        </select>
        <button class="btn btn-sm btn-success" (click)="search()">Search</button>
        <button class="btn btn-sm btn-warning" (click)="clear()">Clear</button>
    </div>
</form>