<div class="fs-2 fw-semibold mb-2">Add a new employee</div>
<form (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name">
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email">
        </div>
    </div>
    <div class="row mb-3">
        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone">
        </div>
    </div>
    <div class="row mb-3">
        <label for="age" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="age" name="age" [(ngModel)]="user.age">
        </div>
    </div>
    <div class="row mb-3">
        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="address" name="address" [(ngModel)]="user.address">
        </div>
    </div>
    <div class="row mb-3">
        <label for="role" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="role" name="role" [(ngModel)]="user.role">
        </div>
    </div>
    <div class="row mb-3">
        <label for="photo" class="col-sm-2 col-form-label">Photo</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" id="photo" name="photo" [(ngModel)]="user.photo" (change)="onFileSelected($event)">
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Add</button>
    <button class="btn btn-sm btn-secondary ms-1" (click)="onCancel()">Go Back</button>
</form>