<div class="fs-2 fw-semibold mb-2">Update Employee</div>
<form [formGroup]="editForm" (submit)="onSubmit()">
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
    </div>
    <div class="row mb-3">
        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" formControlName="phone">
        </div>
    </div>
    <div class="row mb-3">
        <label for="address" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="address" formControlName="address">
        </div>
    </div>
    <div class="row mb-3">
        <label for="role" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="age" formControlName="age">
        </div>
    </div>
    <div class="row mb-3">
        <label for="role" class="col-sm-2 col-form-label">Role</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="role" formControlName="role">
        </div>
    </div>
    <div class="row mb-3">
        <label for="role" class="col-sm-2 col-form-label">Photo</label>
        <div class="col-sm-10">
          <img *ngIf="editForm.get('photoPath')?.value" 
             [src]="serverUrl + '/' + editForm.get('photoPath')?.value" 
             alt="User Photo" class="img-fluid">
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Update</button>
    <button class="btn btn-sm btn-secondary ms-1" routerLink="/users">Go Back</button>
</form>