<!-- <div [class.toast-hide]="!showToast">
    <div *ngIf="toastType=='success'" class="toast-box toast-success">{{message}}</div>
    <div *ngIf="toastType=='error'" class="toast-box toast-error">{{message}}</div>
    <div *ngIf="toastType=='info'" class="toast-box toast-info">{{message}}</div>
    <div *ngIf="toastType=='warning'" class="toast-box toast-warning">{{message}}</div>
</div> -->
<!-- <div class="toast-box" [ngClass]="'toast-'+toastData()!.toastType">{{toastData()!.message}}</div> -->
<div *ngIf="toastData()" [ngClass]="'toast-'+toastData()!.toastType" class="toast-box">
      {{ toastData()!.message }}
    </div>